@import "variables.css";

.carousel-caption {
    position: absolute;
    left: 25%;
    width: 50%;
    text-align: center;
    
    h1 {
        color: white;
        font-weight: bold;
        margin-bottom: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        background: rgba(96, 28, 138, 0.7);
    }
    
    p {
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        background: rgba(0, 39, 51, 0.7);
    }
}

.formated-carousel {
    width: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
}

.home-p {
    margin-bottom: 3.5rem;

    &:first {
        margin-top: 1rem;
    }
}